
# Ignore node_modules in all subfolders
**/node_modules/

# Ignore environment variables
**/.env

# Ignore build folders
**/build/
**/dist/

# Logs
*.log

# OS & editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/